# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# VS Code
.vscode/
*.code-workspace

# Ambiente virtual
venv/
env/
.env

# Sistema
.DS_Store
Thumbs.db
# Logs*.log
logs/